<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>500711511618-jput636nmcms4eaufgf2e89kpl315gql.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.500711511618-jput636nmcms4eaufgf2e89kpl315gql</string>
    <key>API_KEY</key>
    <string>AIzaSyAx7SkTnUIIMdU3Zk4yaszj0E-ZC64UOSM</string>
    <key>GCM_SENDER_ID</key>
    <string>500711511618</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.reactware.eatladle.ios</string>
    <key>PROJECT_ID</key>
    <string>copper-eye-264307</string>
    <key>STORAGE_BUCKET</key>
    <string>copper-eye-264307.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:500711511618:ios:908d1cd602721fbae27fdb</string>
    <key>DATABASE_URL</key>
    <string>https://copper-eye-264307.firebaseio.com</string>
</dict>
</plist>